// *** TABLE OF CONTENTS ***

// 1.0 Palette
// 2.0 Base
// 3.0 Typography
// 4.0 Components
// 5.0 Media Queries
// 6.0 Grid

// ==========================================================================
// 1.0 Palette
// ==========================================================================

@baseColor       : #002779;
@compColor       : spin(@baseColor, 180);
@splitCompColor1 : spin(@baseColor, 157.5);
@splitCompColor2 : spin(@baseColor, 202.5);


// grayscale

@white : #fff;
@black : #000;

@gray-darker:            lighten(@black, 13.5%); // #222
@gray-dark:              lighten(@black, 20%);   // #333
@gray:                   lighten(@black, 33.5%); // #555
@gray-light:             lighten(@black, 60%);   // #999
@gray-lighter:           lighten(@black, 93.5%); // #eee

// ==========================================================================
// 2.0 Base
// ==========================================================================

@body-bg         : @white;

// ==========================================================================
// 3.0 Typography
// ==========================================================================

@text-color      : @gray-darker;

@font-family-sans-serif : sans-serif;
@font-family-serif      : serif;
@font-family-monospace  : monospace;
@font-family-base       : @font-family-sans-serif;

@font-weight-lighter : lighter;
@font-weight-normal  : 400;
@font-weight-bold    : 700;
@font-weight-bolder  : bolder;
@font-weight-base    : @font-weight-normal;

@font-size-root  : 16px; // placed on html tag
@font-size-small : 0.85em;
@font-size-large : 1.25em;

@line-height : 1.5;
@font-margin : round(@line-height * 0.75em, 4);

// headings

@headings-font-family : inherit;
@headings-font-weight : @font-weight-bold;
@headings-color       : inherit;

// alternate font

@alt-font-family  : serif;
@alt-font-weight  : @font-weight-base;

// links

@link-color       : #06c;
@link-color-hover : darken(@link-color, 10%);

// text selection

@selectionBackground : #b3d4fc;

// horizontal rule
// background color can be added to make for bevel effect

@hr-bg           : transparent;
@hr-border-bolor : lighten(@gray-light, 15%);

// mark

@mark-font-color : @black;
@mark-bg : #ff0;

// blockquotes

@blockquote-color           : @text-color;
@blockquote-small-color     : @gray;
@blockquote-small-font-size : 0.875em;
@blockquote-padding         : 0 1.25em 0;

// code, kbd, samp
@code-color      : @text-color;

// pre

@pre-padding     : 0.3125em 0.75em;
@pre-bg          : lighten(@gray-lighter, 2%);
@pre-border      : none;
@pre-radius      : 3px;
@pre-font-size   : 0.9em;
@pre-color       : @gray-darker;

// highlight

@highlight-bg : #ffff99;

// ==========================================================================
// 4.0 Components
// ==========================================================================

// border radius
@border-radius  : 0.25em;

// inputs
@placeholder-color : @gray-light;

@input-height             : (((@line-height + (unit(@input-padding-vertical) * 2)) * 16 + 2) / 16 * 1em);
@input-padding-horizontal : 0.875em;
@input-padding-vertical   : 0.4em;
@input-bg                 : @white;
@input-border             : 1px solid lighten(@gray-light, 15%);
@input-radius             : @border-radius;
@input-color              : @text-color;
@input-disabled-bg        : darken(@input-bg, 3%);
@input-disabled-color     : @placeholder-color;

// fieldsets
@fieldset-padding         : 0.625em;
@fieldset-border          : 1px solid lighten(@gray-light, 15%);
@fieldset-radius          : @border-radius;

// buttons
@button-font              : @font-family-sans-serif;
@button-font-size         : 1em;
@button-font-color        : @white;
@button-padding           : @input-padding-vertical @input-padding-horizontal;
@button-bg                : @link-color;
@button-bg-hover          : @link-color-hover;
@button-disabled          : lighten(@link-color, 15%);
@button-border            : 1px solid @button-bg;
@button-radius            : @border-radius;

// ==========================================================================
// 5.0 Media Queries
// ==========================================================================

@phone-max      : ((640 / 16) * 1em);
@tablet-min     : ((641 / 16) * 1em);
@tablet-max     : ((1024 / 16) * 1em);
@laptop-min     : ((1025 / 16) * 1em);
@laptop-max     : ((1440 / 16) * 1em);
@desktop-min    : ((1441 / 16) * 1em);
@desktop-max    : ((1920 / 16) * 1em);
@widescreen-min : ((1921 / 16) * 1em);

@query-phone-max       : ~"only screen and (max-width: @{phone-max})";
@query-tablet-min      : ~"only screen and (min-width: @{tablet-min})";
@query-tablet-max      : ~"only screen and (max-width: @{tablet-max})";
@query-tablet-min-max  : ~"only screen and (min-width: @{tablet-min}) and (max-width: @{tablet-max})";
@query-laptop-min      : ~"only screen and (min-width: @{laptop-min})";
@query-laptop-max      : ~"only screen and (max-width: @{laptop-max})";
@query-laptop-min-max  : ~"only screen and (min-width: @{laptop-min}) and (max-width: @{laptop-max})";
@query-desktop-min     : ~"only screen and (min-width: @{desktop-min})";
@query-desktop-max     : ~"only screen and (min-width: @{desktop-max})";
@query-desktop-min-max : ~"only screen and (min-width: @{desktop-min}) and (min-width: @{desktop-max})";
@query-widescreen-min  : ~"only screen and (min-width: @{widescreen-min})";

// ==========================================================================
// 6.0 Grid
// ==========================================================================

@grid-columns           : 12;
@grid-gutter-phone      : ((15 / 16) * 1em);
@grid-gutter-tablet     : ((20 / 16) * 1em);
@grid-gutter-laptop     : ((30 / 16) * 1em);
@grid-gutter-desktop    : ((30 / 16) * 1em);
@grid-gutter-widescreen : ((30 / 16) * 1em);
