// *** TABLE OF CONTENTS ***
//
// |-- Color Palette
// |-- Base
// |-- Typography
// |-- Components
// |-- Media Queries
// |-- Grid

// ==========================================================================
// |-- Color Palette
// ==========================================================================

@white : #fff;
@black : #000;

@gray-darker:            lighten(@black, 13.5%); // #222
@gray-dark:              lighten(@black, 20%);   // #333
@gray:                   lighten(@black, 33.5%); // #555
@gray-light:             lighten(@black, 60%);   // #999
@gray-lighter:           lighten(@black, 93.5%); // #eee

@cp-primary   : hsl(0, 100%, 50%);
@cp-secondary : tint(@cp-primary, 25%);
@cp-tertiary  : tint(@cp-primary, 45%);
@cp-quadrary  : shade(@cp-primary, 35%);

@cp-info    : hsl(200, 75%, 43%);
@cp-success : hsl(110, 70%, 33%);
@cp-warning : hsl(29, 84%, 46%);
@cp-danger   : hsl(0, 57%, 48%);

// ==========================================================================
// |-- Base
// ==========================================================================

@body-bg         : @white;

// ==========================================================================
// |-- Typography
// ==========================================================================

@text-color             : @gray-darker;

@font-family-sans-serif : sans-serif;
@font-family-serif      : serif;
@font-family-monospace  : monospace;
@font-family-base       : @font-family-sans-serif;

@font-weight-lighter : lighter;
@font-weight-normal  : 400;
@font-weight-bold    : 700;
@font-weight-bolder  : bolder;
@font-weight-base    : @font-weight-normal;

@font-size-root  : 16px; // placed on html tag
@font-size-small : 0.85em;
@font-size-large : 1.25em;

@line-height : 1.5;
@font-margin : round(@line-height * 0.75em, 4);

// headings

@headings-font-family : inherit;
@headings-font-weight : @font-weight-bold;
@headings-color       : inherit;

// alternate font

@alt-font-family  : serif;
@alt-font-weight  : @font-weight-base;

// links

@link-color       : #06c;
@link-color-hover : darken(@link-color, 10%);

// text selection

@selectionBackground : #b3d4fc;

// horizontal rule
// background color can be added to make for bevel effect

@hr-bg           : transparent;
@hr-border-bolor : lighten(@gray-light, 15%);

// mark

@mark-font-color : @black;
@mark-bg : #ff0;

// blockquotes

@blockquote-color           : @text-color;
@blockquote-small-color     : @gray;
@blockquote-small-font-size : 0.875em;
@blockquote-padding         : 0 1.25em 0;

// code, kbd, samp
@code-color      : @text-color;
@code-bg         : darken(@gray-lighter, 2%);

// pre

@pre-padding     : 0.3125em 0.75em;
@pre-bg          : @code-bg;
@pre-border      : none;
@pre-radius      : 3px;
@pre-font-size   : 0.9em;
@pre-color       : @gray-darker;

// highlight

@highlight-bg : #ffff99;

// ==========================================================================
// |-- Components
// ==========================================================================

// border radius
@border-radius  : 0.25em;

// inputs
@placeholder-color : @gray-light;

@input-height             : (((1 + (unit(@input-padding-vertical) * 2)) * 16 + 2) / 16 * 1em);
@input-padding-horizontal : 0.8em;
@input-padding-vertical   : 0.7em;
@input-bg                 : @white;
@input-border             : 1px solid lighten(@gray-light, 15%);
@input-radius             : @border-radius;
@input-color              : @text-color;
@input-disabled-bg        : @gray-lighter;
@input-disabled-color     : @gray-light;

// buttons
@button-padding           : @input-padding-vertical @input-padding-horizontal;
@button-bg                : @link-color;
@button-bg-hover          : @link-color-hover;
@button-disabled          : lighten(@link-color, 15%);
@button-border            : 1px solid @button-bg;
@button-radius            : @border-radius;
@button-font-color        : @white;
@button-font              : @font-family-sans-serif;
@button-font-size         : 1em;

// ==========================================================================
// |-- Media Queries
// ==========================================================================

@xs-max : ((479 / 16) * 1em);
@sm-min : ((480 / 16) * 1em);
@sm-max : ((767 / 16) * 1em);
@md-min : ((768 / 16) * 1em);
@md-max : ((991 / 16) * 1em);
@lg-min : ((992 / 16) * 1em);
@lg-max : ((1381 / 16) * 1em);
@xl-min : ((1382 / 16) * 1em);

@query-xs-max     : ~"only screen and (max-width: @{xs-max})";
@query-sm-min     : ~"only screen and (min-width: @{sm-min})";
@query-sm-max     : ~"only screen and (max-width: @{sm-max})";
@query-sm-min-max : ~"only screen and (min-width: @{sm-min}) and (max-width: @{sm-max})";
@query-md-min     : ~"only screen and (min-width: @{md-min})";
@query-md-max     : ~"only screen and (max-width: @{md-max})";
@query-md-min-max : ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@query-lg-min     : ~"only screen and (min-width: @{lg-min})";
@query-lg-max     : ~"only screen and (min-width: @{lg-max})";
@query-lg-min-max : ~"only screen and (min-width: @{lg-min}) and (min-width: @{lg-max})";
@query-xl-min     : ~"only screen and (min-width: @{xl-min})";

// query selector namespace
@xs-ns : ~"xs";
@sm-ns : ~"sm";
@md-ns : ~"md";
@lg-ns : ~"lg";
@xl-ns : ~"xl";

// ==========================================================================
// |-- Grid
// ==========================================================================

@grid-columns   : 12;

@grid-xs-gutter : ((20 / 16) * 1em);
@grid-sm-gutter : ((20 / 16) * 1em);
@grid-md-gutter : ((30 / 16) * 1em);
@grid-lg-gutter : ((30 / 16) * 1em);
@grid-xl-gutter : ((30 / 16) * 1em);

@grid-form-gutter : ((10 / 16) * 1em);

@grid-xs-enable-offsets   : false;
@grid-xs-enable-push-pull : false;

@grid-sm-enable-offsets   : false;
@grid-sm-enable-push-pull : false;

@grid-md-enable-offsets   : false;
@grid-md-enable-push-pull : false;

@grid-lg-enable-offsets   : false;
@grid-lg-enable-push-pull : false;

@grid-xl-enable-offsets   : false;
@grid-xl-enable-push-pull : false;
