// *** TABLE OF CONTENTS ***

// 1.0 Color Palette
// 2.0 Base
// 3.0 Typography
// 4.0 Components
// 5.0 Media Queries
// 6.0 Grid

// ==========================================================================
// 1.0 Color Palette
// ==========================================================================

@cp-primary   : #ff0000;
@cp-secondary : spin(@cp-primary, 80);
@cp-tertiary  : spin(@cp-primary, 160);
@cp-quadrary  : darken(@cp-primary, 15%);


// grayscale

@white : #fff;
@black : #000;

@gray-darker:            lighten(@black, 13.5%); // #222
@gray-dark:              lighten(@black, 20%);   // #333
@gray:                   lighten(@black, 33.5%); // #555
@gray-light:             lighten(@black, 60%);   // #999
@gray-lighter:           lighten(@black, 93.5%); // #eee

// ==========================================================================
// 2.0 Base
// ==========================================================================

@body-bg         : @white;

// ==========================================================================
// 3.0 Typography
// ==========================================================================

@text-color             : @gray-darker;

@font-family-sans-serif : sans-serif;
@font-family-serif      : serif;
@font-family-monospace  : monospace;
@font-family-base       : @font-family-sans-serif;

@font-weight-lighter : lighter;
@font-weight-normal  : 400;
@font-weight-bold    : 700;
@font-weight-bolder  : bolder;
@font-weight-base    : @font-weight-normal;

@font-size-root  : 16px; // placed on html tag
@font-size-small : 0.85em;
@font-size-large : 1.25em;

@line-height : 1.5;
@font-margin : round(@line-height * 0.75em, 4);

// headings

@headings-font-family : inherit;
@headings-font-weight : @font-weight-bold;
@headings-color       : inherit;

// alternate font

@alt-font-family  : serif;
@alt-font-weight  : @font-weight-base;

// links

@link-color       : #06c;
@link-color-hover : darken(@link-color, 10%);

// text selection

@selectionBackground : #b3d4fc;

// horizontal rule
// background color can be added to make for bevel effect

@hr-bg           : transparent;
@hr-border-bolor : lighten(@gray-light, 15%);

// mark

@mark-font-color : @black;
@mark-bg : #ff0;

// blockquotes

@blockquote-color           : @text-color;
@blockquote-small-color     : @gray;
@blockquote-small-font-size : 0.875em;
@blockquote-padding         : 0 1.25em 0;

// code, kbd, samp
@code-color      : @text-color;
@code-bg         : darken(@gray-lighter, 2%);

// pre

@pre-padding     : 0.3125em 0.75em;
@pre-bg          : @code-bg;
@pre-border      : none;
@pre-radius      : 3px;
@pre-font-size   : 0.9em;
@pre-color       : @gray-darker;

// highlight

@highlight-bg : #ffff99;

// ==========================================================================
// 4.0 Components
// ==========================================================================

// border radius
@border-radius  : 0.25em;

// inputs
@placeholder-color : @gray-light;

@input-height             : (((@line-height + (unit(@input-padding-vertical) * 2)) * 16 + 2) / 16 * 1em);
@input-padding-horizontal : 0.875em;
@input-padding-vertical   : 0.4em;
@input-bg                 : @white;
@input-border             : 1px solid lighten(@gray-light, 15%);
@input-radius             : @border-radius;
@input-color              : @text-color;
@input-disabled-bg        : darken(@input-bg, 3%);
@input-disabled-color     : @placeholder-color;

// fieldsets
@fieldset-padding         : 0.625em;
@fieldset-border          : 1px solid lighten(@gray-light, 15%);
@fieldset-radius          : @border-radius;

// buttons
@button-font              : @font-family-sans-serif;
@button-font-size         : 1em;
@button-font-color        : @white;
@button-padding           : @input-padding-vertical @input-padding-horizontal;
@button-bg                : @link-color;
@button-bg-hover          : @link-color-hover;
@button-disabled          : lighten(@link-color, 15%);
@button-border            : 1px solid @button-bg;
@button-radius            : @border-radius;

// ==========================================================================
// 5.0 Media Queries
// ==========================================================================

@v1-max : ((479 / 16) * 1em);
@v2-min : ((480 / 16) * 1em);
@v2-max : ((767 / 16) * 1em);
@v3-min : ((768 / 16) * 1em);
@v3-max : ((991 / 16) * 1em);
@v4-min : ((992 / 16) * 1em);
@v4-max : ((1381 / 16) * 1em);
@v5-min : ((1382 / 16) * 1em);

@query-v1-max     : ~"only screen and (max-width: @{v1-max})";
@query-v2-min     : ~"only screen and (min-width: @{v2-min})";
@query-v2-max     : ~"only screen and (max-width: @{v2-max})";
@query-v2-min-max : ~"only screen and (min-width: @{v2-min}) and (max-width: @{v2-max})";
@query-v3-min     : ~"only screen and (min-width: @{v3-min})";
@query-v3-max     : ~"only screen and (max-width: @{v3-max})";
@query-v3-min-max : ~"only screen and (min-width: @{v3-min}) and (max-width: @{v3-max})";
@query-v4-min     : ~"only screen and (min-width: @{v4-min})";
@query-v4-max     : ~"only screen and (min-width: @{v4-max})";
@query-v4-min-max : ~"only screen and (min-width: @{v4-min}) and (min-width: @{v4-max})";
@query-v5-min     : ~"only screen and (min-width: @{v5-min})";

// ==========================================================================
// 6.0 Grid
// ==========================================================================

@grid-columns   : 12;

@grid-v1-gutter : ((15 / 16) * 1em);
@grid-v2-gutter : ((20 / 16) * 1em);
@grid-v3-gutter : ((30 / 16) * 1em);
@grid-v4-gutter : ((30 / 16) * 1em);
@grid-v5-gutter : ((30 / 16) * 1em);

@grid-form-gutter : ((10 / 16) * 1em);

@grid-v1-enable-offsets   : true;
@grid-v1-enable-push-pull : true;

@grid-v2-enable-offsets   : true;
@grid-v2-enable-push-pull : true;

@grid-v3-enable-offsets   : true;
@grid-v3-enable-push-pull : true;

@grid-v4-enable-offsets   : true;
@grid-v4-enable-push-pull : true;

@grid-v5-enable-offsets   : true;
@grid-v5-enable-push-pull : true;
