/* ==========================================================================
   4.0 Code
   ========================================================================== */

/**
 * Better default styling for pre, code, kbd, samp and pre elements
 */

pre,
code,
kbd,
samp {
    font-family: @font-family-monospace;
}

code {
    color: @code-color;
    font-weight: @font-weight-bold;
}

pre {
    padding: @pre-padding;
    background: @pre-bg;
    border: @pre-border;
    .border-radius(@pre-radius);
    color: @pre-color;
    font-size: @pre-font-size;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    ol {
        margin: 0;
    }
}
