/* ==========================================================================
   EMBEDDED CONTENT
   ========================================================================== */

/**
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/**
 * Fluid embedded content
 */

img,
figure,
video,
object,
embed {
    max-width: 100%;
    height: auto;
}