/* ==========================================================================
   |-- Forms
   ========================================================================== */

/**
 * Disables default glow.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/:invalid
 */

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow:none;
}

/**
 * Remove default webkit styles (for iOS)
 */

textarea,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"] {
    -webkit-appearance: none;
}

/**
 * Fix optgroup Firefox bug
 */

select optgroup {
    font-style: inherit;
    font-weight: inherit; // possibly change to bold variable?
    font-size: inherit;
    font-family: inherit;
}

/**
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/**
 * Consistent focus styles for form elements and buttons
 */

input,
button,
select,
textarea {
    .tab-focus();
}

/**
 * Styling for disabled and read only inputs
 * Note for fieldsets: "If this Boolean attribute is set, the form controls that are its
 * descendants, except descendants of its first optional <legend> element, are disabled,
 * i.e., not editable."
 * source: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset
 * Fieldsets are styled anyway so if yours falls under this edge case simply remove the
 * fieldset selector.
 */

input,
select,
textarea {
    &[readonly],
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
    }
}
