/* ==========================================================================
   |-- Alerts
   ========================================================================== */

/**
 * <div class="alert alert__info" role="alert">
 *   <p>...</p>
 * </div>
 */

.alert {
    margin: @font-margin 0;
    padding: (@font-margin * .75) @font-margin;
    border-left: 5px solid transparent;

    p,
    ul {
        margin-bottom: 0;
    }

    h4 {
        margin-bottom: (@font-margin * .5);
    }

    p + p {
        margin-top: (@font-margin * .75);
    }

    a {
        font-weight: @font-weight-bold;
    }

    // Variants
    // background color, border-color, text color
    &__info {
        .alert-variant(lighten(@cp-info, 55%); @cp-info; @cp-info);
    }

    &__success {
        .alert-variant(lighten(@cp-success, 65%); @cp-success; @cp-success);
    }

    &__warning {
        .alert-variant(lighten(@cp-warning, 52%); @cp-warning; @cp-warning);
    }

    &__danger {
        .alert-variant(lighten(@cp-danger, 50%); @cp-danger; @cp-danger);
    }
}
