/* ==========================================================================
   |-- Buttons
   ========================================================================== */

/**
 * <button class="button button--large button--space--right">...</button>
 * <a class="button button--large button--space--right" role="button">...</a>
 */

.button {
    display: inline-block;
    padding: @button-padding;
    background: @button-bg;
    border: @button-border;
    .radius(@button-radius);
    color: @button-font-color;
    font-size: @button-font-size;
    line-height: 1;
    font-family: @button-font;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-appearance: none;

    &:focus {
        outline: 0;
    }

    &:focus,
    &:hover {
        background: @button-bg-hover;
        color: @button-font-color;
    }

    a&:hover,
    a&:focus,
    a&:active {
        text-decoration: none;
    }

    &[disabled] {
        background: @button-disabled;
        cursor: not-allowed;
    }

    &--block {
        display: block;
    }

    &--small {
        font-size: @font-size-small;
    }

    &--large {
        font-size: @font-size-large;
    }

    &--space--right {
        margin-right: @grid-form-gutter;
    }

    &--space--left {
        margin-left: @grid-form-gutter;
    }
}
