/* ==========================================================================
   8.0 Buttons
   ========================================================================== */

/**
 * <button class="button button--large">
 */

.button {
    display: inline-block;
    padding: @button-padding;
    background: @button-bg;
    border: @button-border;
    .border-radius(@button-radius);
    color: @button-font-color;
    font-size: @button-font-size;
    line-height: @line-height;
    font-family: @button-font;
    text-decoration: none;
    vertical-align: middle;
    -webkit-appearance: none;
    .tab-focus();

    &:hover {
        background: @button-bg-hover;
        color: @button-font-color;
    }

    a&:hover,
    a&:focus,
    a&:active {
        text-decoration: none;
    }

    &[disabled] {
        background: @button-disabled;
        cursor: not-allowed;
    }

    &--small {
        font-size: @font-size-small;
    }

    &--large {
        font-size: @font-size-large;
    }
}
