/* ==========================================================================
   |-- Forms
   ========================================================================== */

/**
 * Remove default webkit styles (for iOS)
 */

.form {
    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    input[type="number"] {
        -webkit-appearance: none;
    }
}

/**
 * Allow only vertical resizing of textareas.
 */

.form textarea {
    resize: vertical;
}

/**
 * Better default styling for labels
 */

.form label {
    display: inline-block;
    margin-bottom: .35em;
}

.form {
    [type="radio"],
    [type="checkbox"] {
        margin: 0 .2em;
    }
}

/**
 * Fieldsets
 * <fieldset class="form__fieldset">
 */

.form__fieldset {
    padding: @fieldset-padding;
    border: @fieldset-border;
    .radius(@fieldset-radius);
}

/**
 * Labels
 * <label class="form__label--top">
 */

.form__label {
    &--top {
        vertical-align: top;
    }
}

/**
 * Form Inputs
 *
 * Apply .form__input to any of the following form inputs
 * <input class="form__input">
 *
 * select,
 * textarea,
 * input[type="text"],
 * input[type="password"],
 * input[type="search"],
 * input[type="email"],
 * input[type="url"],
 * input[type="tel"],
 * input[type="number"],
 * input[type="datetime"],
 * input[type="datetime-local"],
 * input[type="date"],
 * input[type="month"],
 * input[type="time"],
 * input[type="week"],
 * input[type="color"]
 *
 */

.form__input {
    height: @input-height;
    margin: 0;
    padding: @input-padding-vertical @input-padding-horizontal;
    background: @input-bg;
    border: @input-border;
    .radius(@input-radius);
    outline-style: none;
    color: @input-color;
    vertical-align: middle;
    .placeholder(@placeholder-color);
    .tab-focus();

    // Reset padding
    &[type="color"] {
        padding: 0;
    }

    // Reset height for multiple select and text area
    textarea&,
    &[size],
    &[multiple] {
        height: auto;
    }

    // Styling for disabled and read only inputs
    // Note for fieldsets: "If this Boolean attribute is set, the form controls that are its
    // descendants, except descendants of its first optional <legend> element, are disabled,
    // i.e., not editable."
    // source: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset
    // Fieldsets are styled anyway so if yours falls under this edge case simply remove the
    // fieldset selector.
    &[readonly],
    &[disabled],
    fieldset[disabled] & {
        cursor: not-allowed;
        background: @input-disabled-bg;
        opacity: 1; // iOS fix for unreadable disabled content
        color: @input-disabled-color;
    }
}

/**
 * Set form elements to full width
 */

.form__input,
.form__range,
.form__file {
    width: 100%;
    max-width: 100%;
}

/**
 * Make form elements inlnie
 * <form class="form--inline"> or <input class="form__input form__input--inline">
 */

.form--inline,
.form__group--inline {
    .form__input,
    .form__range,
    .form__file {
        width: auto;
    }
}

.form__input--inline {
    width: auto;

    // Set consistent width for color input
    &[type="color"] {
        width: @input-height * 1.4;
    }
}

/**
 * Add margin to inputs
 * <input class="form__input form__input--space-right">
 */

.form__input--space-right {
    margin-right: @grid-form-gutter;
}

.form__input--space-left {
    margin-left: @grid-form-gutter;
}

/**
 * Form input size
 * <input class="form__input form__input--large">
 */

.form__input--large {
    font-size: @font-size-large;
}

.form__input--small {
    font-size: @font-size-small;
}

/**
 * Form output element, Does Not Need .fomr__input class
 * http://html5doctor.com/the-output-element/
 * <output class="form__output">
 */

.form__output {
    height: @input-height;
    padding: @input-padding-vertical 0;
    vertical-align: middle;
}

/**
 * Form Groups
 * Contains labels and inputs and adds bottom margin.
 * <div class="form__group">
 *   <label>...</label>
 *   <input class="form__input" type="text">
 * </div>
 */

.form__group {
    margin-bottom: @font-margin;

    // Validation states
    // background color, border-color, text color
    &.has-success {
        .form-input-validation(@cp-success; @cp-success);
    }
    &.has-warning {
        .form-input-validation(@cp-warning; @cp-warning);
    }
    &.has-error {
        .form-input-validation(@cp-danger; @cp-danger);
    }
}

/**
 * Form Grid.
 * <div class="grid grid--form">
 *   <div class="grid__cell sm--6of12">
 *     <input class="form__input">
 */

.grid--form {
    margin-left: -@grid-form-gutter;

    > [class*="grid__cell"] {
        padding-left: @grid-form-gutter
    }
}
