// Gutters
.grid {
    margin-left: -@grid-gutter-v1;

    &__cell {
        padding-left: @grid-gutter-v1;
    }
}

// Cells
.v1-grid (@index) when (@index > 0) {

    .v1-@{index}of@{grid-columns} {
        .make-cell(@index);
    }

    .v1-grid(@index - 1);
}

.v1-grid(0) {} // stop loop
.v1-grid(@grid-columns); // generate columns

// Offset Cells
.v1-offsets (@index) when (@index > 0) {

    .v1-offset-@{index}of@{grid-columns} {
        .make-cell-offset(@index);
    }

    .v1-offsets(@index - 1);
}

.v1-offsets(0) {} // stop loop
.v1-offsets((@grid-columns - 1)); // generate offsets

// Pull Cells
.v1-pull (@index) when (@index > 0) {

    .v1-pull-@{index}of@{grid-columns} {
        .make-cell-pull(@index);
    }

    .v1-pull(@index - 1);
}

.v1-pull(0) {} // stop loop
.v1-pull((@grid-columns - 1)); // generate pulls

// Push Cells
.v1-push (@index) when (@index > 0) {

    .v1-push-@{index}of@{grid-columns} {
        .make-cell-push(@index);
    }

    .v1-push(@index - 1);
}

.v1-push(0) {} // stop loop
.v1-push((@grid-columns - 1)); // generate pushes

// Center Cell
.v1-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

// Clear
.v1-clear {
    clear: left;
}
