/* ==========================================================================
   12.0 Grid
   ========================================================================== */

/**
 * By default the grid is 12 columns across.
 * <div class="grid">
 *   <div class="grid__cell tablet-12of12">...</div>
 *   <div class="grid__cell tablet-8of12">...</div>
 *   <div class="grid__cell tablet-4of12">...</div>
 *   <div class="grid__cell tablet-12of12">...</div>
 * </div>
 *
 * Cell widths are:
 *  - phone-Xof12   (640px/40em and below)
 *  - tablet-Xof12  (641px/40.0625em and above)
 *  - laptop-Xof12  (1025px/64.0625em and above)
 *  - desktop-Xof12 (1441px/90.0625em and above)
 *  - wide-Xof12    (1921px/120.0625em and above)
 *
 * Offsets, pushes and pulls.
 * You can use offset-0of12, push-0of12 and pull-0of12 to undo prior queries.
 * <div class="grid__cell tablet-8of12 tablet-offset-4of12">...</div>
 * <div class="grid__cell tablet-8of12 tablet-pull-4of12">...</div>
 * <div class="grid__cell tablet-8of12 tablet-push-4of12">...</div>
 *
 * A cell can be centered or uncentered from a centering from a prior media query.
 * <div class="grid__cell tablet-8of12 tablet-centered">...</div>
 * <div class="grid__cell tablet-8of12 tablet-centered laptop-8of12 laptop-uncentered">...</div>
 *
 * A cell can be cleared or uncleared from a prior media query.
 * <div class="grid__cell tablet-2of12">...</div>
 * <div class="grid__cell tablet-4of12 laptop-2of12 laptop-clear">...</div>
 */

.grid {
    margin: 0;
    padding: 0;
    list-style: none;
    .clearfix();

    .grid {
        padding: 0;
    }

    &__cell {
        float: left;
        width: 100%;
        min-height: 1px;

        code {
            display: block;
            margin-bottom: @grid-gutter-phone;
            background: hsl(0, 70%, 90%);
        }
    }

    &.grid--collapse {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;

        .grid__cell {
            padding-left: 0;
        }
    }
}
