// Gutters
.grid-container {
    .make-grid-container(@grid-v2-gutter);
}

.grid {
    margin-left: -@grid-v2-gutter;
}

[class*="grid__cell--v2"] {
    padding-left: @grid-v2-gutter;
}

// Cells
.v2-grid (@index) when (@index > 0) {

    .grid__cell--v2-@{index}of@{grid-columns} {
        .make-grid-cell(@index);
    }

    .v2-grid(@index - 1);
}
.v2-grid(0) {} // stop loop
.v2-grid(@grid-columns); // generate columns

// Offset Cells
.v2-offsets-generate() when (@grid-v2-enable-offsets = true) {
    .v2-offsets (@index) when (@index > 0) {
        .grid__cell--v2-offset-@{index}of@{grid-columns} {
            .make-grid-cell-offset(@index);
        }
        .v2-offsets(@index - 1);
    }
    .v2-offsets(0) {} // stop loop
    .v2-offsets((@grid-columns - 1)); // generate offsets

    // Reset offsets from prior queries
    .grid__cell--v2-offset-0of@{grid-columns} {
        margin-left: 0;
    }
}
.v2-offsets-generate(); // generate offsets if true (set in variables.less)


// Pull Cells
.v2-push-pull-generate() when (@grid-v2-enable-push-pull = true) {
    .v2-pull (@index) when (@index > 0) {
        .grid__cell--v2-pull-@{index}of@{grid-columns} {
            .make-grid-cell-pull(@index);
        }
        .v2-pull(@index - 1);
    }
    .v2-pull(0) {} // stop loop
    .v2-pull((@grid-columns - 1)); // generate pulls

    // Push Cells
    .v2-push (@index) when (@index > 0) {
        .grid__cell--v2-push-@{index}of@{grid-columns} {
            .make-grid-cell-push(@index);
        }
        .v2-push(@index - 1);
    }
    .v2-push(0) {} // stop loop
    .v2-push((@grid-columns - 1)); // generate pushes

    // Reset pushes and pulls from prior queries
    .grid__cell--v2-pull-0of@{grid-columns},
    .grid__cell--v2-push-0of@{grid-columns} {
        position: static;
        left: auto;
        right: auto;
    }
}
.v2-push-pull-generate(); // generate pushes and pulls if true (set in variables.less)


// Center Cell
.grid__cell--v2-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

// Uncenter Cell from prior queries
.grid__cell--v2-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

// Clear Cell
.grid__cell--v2-clear {
    clear: left;
}

// Unclear Cell from prior queries
.grid__cell--v2-unclear {
    clear: left;
}
