// Gutters
.grid-container--page when (@grid-sm-gutter > @grid-xs-gutter) {
    padding: 0 (@grid-sm-gutter * 2);
}

.grid--page when (@grid-sm-gutter > @grid-xs-gutter) {
    margin: 0 -@grid-sm-gutter;

    > .grid__cell {
        padding: 0 @grid-sm-gutter;
    }
}

// Cells
.sm-cells(@n, @i: 1) when (@i =< @n) {
    .sm--@{i}of@{n} {
        .make-grid-cell(@i);
    }
    .sm-cells(@n, (@i + 1));
}
.sm-cells(@grid-columns); // generate cells
