/* ==========================================================================
   12.0 Grid
   ========================================================================== */

.grid {
    margin: 0;
    padding: 0;
    list-style: none;
    .clearfix();

    .grid {
        padding: 0;
    }

    &__cell {
        float: left;
        width: 100%;
        min-height: 1px;

        code {
            display: block;
            margin-bottom: @grid-gutter-phone;
            background: hsl(0, 70%, 90%);
        }
    }

    &.grid--collapse {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;

        .grid__cell {
            padding-left: 0;
        }
    }
}
