// Gutters
.grid-container when (@grid-v2-gutter > @grid-v1-gutter) {
    .make-grid-container(@grid-v2-gutter);
}

.grid--page when (@grid-v2-gutter > @grid-v1-gutter) {
    margin-left: -@grid-v2-gutter;

    > [class*="grid__cell"] {
        padding-left: @grid-v2-gutter;
    }
}

// Cells
.v2-cells(@n, @i: 1) when (@i =< @n) {
    .v2--@{i}of@{n} {
        .make-grid-cell(@i);
    }
    .v2-cells(@n, (@i + 1));
}
.v2-cells(@grid-columns); // generate cells

// Offset Cells
.v2-offset() when (@grid-v2-enable-offsets = true) {
    .v2-offsets(@n, @i: 1) when (@i =< @n) {
        .v2--offset--@{i}of@{n} {
            .make-grid-cell-offset(@i);
        }
        .v2-offsets(@n, (@i + 1));
    }
    // Undo Offset from prior queries
    .v2--offset--0of@{grid-columns} {
        margin-left: 0;
    }
    .v2-offsets(@grid-columns); // generate offsets
}
.v2-offset(); // generate offsets if true (set in variables.less)

// Pull Cells
.v2-push-pull() when (@grid-v2-enable-push-pull = true) {
    .v2-pulls(@n, @i: 1) when (@i =< @n) {
        .v2--pull--@{i}of@{n} {
            .make-grid-cell-pull(@i);
        }
        .v2-pulls(@n, (@i + 1));
    }
    // Undo Pull from prior queries
    .v2--pull--0of@{grid-columns} {
        position: static;
        left: auto;
        right: auto;
    }
    .v2-pulls(@grid-columns); // generate pulls

    // Push Cells
    .v2-pushes(@n, @i: 1) when (@i =< @n) {
        .v2--push--@{i}of@{n} {
            .make-grid-cell-push(@i);
        }
        .v2-pushes(@n, (@i + 1));
    }
    // Undo Push from prior queries
    .v2--push--0of@{grid-columns} {
        position: static;
        left: auto;
        right: auto;
    }
    .v2-pushes(@grid-columns); // generate pushes
}
.v2-push-pull(); // generate pushes and pulls if true (set in variables.less)

// Center Cell
.v2--centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

// Uncenter Cell from prior queries
.v2--uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

// Clear Cell
.v2--clear { clear: left; }

// Unclear Cell from prior queries
.v2--unclear { float: left; }

// Show and Hide
.v2--hide { display: none !important; }
.v2--show { display: inherit !important; }
