// Gutters
.grid-container when (@grid-v4-gutter > @grid-v3-gutter) {
    .make-grid-container(@grid-v4-gutter);
}

.grid--page when (@grid-v4-gutter > @grid-v3-gutter) {
    margin-left: -@grid-v4-gutter;

    > [class*="grid__cell"] {
        padding-left: @grid-v4-gutter;
    }
}

// Cells
.v4-cells(@n, @i: 1) when (@i =< @n) {
    .v4--@{i}of@{n} {
        .make-grid-cell(@i);
    }
    .v4-cells(@n, (@i + 1));
}
.v4-cells(@grid-columns); // generate cells

// Offset Cells
.v4-offset() when (@grid-v1-enable-offsets = true) {
    .v4-offsets(@n, @i: 1) when (@i =< @n) {
        .v4--offset--@{i}of@{n} {
            .make-grid-cell-offset(@i);
        }
        .v4-offsets(@n, (@i + 1));
    }
    .v4-offsets(@grid-columns); // generate offsets
}
.v4-offset(); // generate offsets if true (set in variables.less)

// Pull Cells
.v4-push-pull() when (@grid-v1-enable-push-pull = true) {
    .v4-pulls(@n, @i: 1) when (@i =< @n) {
        .v4--pull--@{i}of@{n} {
            .make-grid-cell-pull(@i);
        }
        .v4-pulls(@n, (@i + 1));
    }
    .v4-pulls(@grid-columns); // generate pulls

    // Push Cells
    .v4-pushes(@n, @i: 1) when (@i =< @n) {
        .v4--push--@{i}of@{n} {
            .make-grid-cell-push(@i);
        }
        .v4-pushes(@n, (@i + 1));
    }
    .v4-pushes(@grid-columns); // generate pushes
}
.v4-push-pull(); // generate pushes and pulls if true (set in variables.less)

// Center Cell
.v4--centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

// Uncenter Cell from prior queries
.v4--uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

// Clear Cell
.v4--clear { clear: left; }

// Unclear Cell from prior queries
.v4--unclear { float: left; }

// Show and Hide
.v4--hide { display: none !important; }
.v4--show { display: inherit !important; }
