// Gutters
.grid-container--page when (@grid-md-gutter > @grid-sm-gutter) {
    padding: 0 (@grid-md-gutter * 2);
}

.grid--page when (@grid-md-gutter > @grid-sm-gutter) {
    margin: 0 -@grid-md-gutter;

    > .grid__cell {
        padding: 0 @grid-md-gutter;
    }
}

// Cells
.md-cells(@n, @i: 1) when (@i =< @n) {
    .md--@{i}of@{n} {
        .make-grid-cell(@i);
    }
    .md-cells(@n, (@i + 1));
}
.md-cells(@grid-columns); // generate cells
