// Gutters
.grid-container {
    .make-grid-container(@grid-v4-gutter);
}

.grid {
    margin-left: -@grid-v4-gutter;
}

[class*="grid__cell"] {
    padding-left: @grid-v4-gutter;
}

// Cells
.v4-grid (@index) when (@index > 0) {

    .grid__cell--v4-@{index}of@{grid-columns} {
        .make-grid-cell(@index);
    }

    .v4-grid(@index - 1);
}
.v4-grid(0) {} // stop loop
.v4-grid(@grid-columns); // generate columns

// Offset Cells
.v4-offsets-generate() when (@grid-v4-enable-offsets = true) {
    .v4-offsets (@index) when (@index > 0) {
        .grid__cell--v4-offset-@{index}of@{grid-columns} {
            .make-grid-cell-offset(@index);
        }
        .v4-offsets(@index - 1);
    }
    .v4-offsets(0) {} // stop loop
    .v4-offsets((@grid-columns - 1)); // generate offsets

    // Reset offsets from prior queries
    .grid__cell--v4-offset-0of@{grid-columns} {
        margin-left: 0;
    }
}
.v4-offsets-generate(); // generate offsets if true (set in variables.less)


// Pull Cells
.v4-push-pull-generate() when (@grid-v4-enable-push-pull = true) {
    .v4-pull (@index) when (@index > 0) {
        .grid__cell--v4-pull-@{index}of@{grid-columns} {
            .make-grid-cell-pull(@index);
        }
        .v4-pull(@index - 1);
    }
    .v4-pull(0) {} // stop loop
    .v4-pull((@grid-columns - 1)); // generate pulls

    // Push Cells
    .v4-push (@index) when (@index > 0) {
        .grid__cell--v4-push-@{index}of@{grid-columns} {
            .make-grid-cell-push(@index);
        }
        .v4-push(@index - 1);
    }
    .v4-push(0) {} // stop loop
    .v4-push((@grid-columns - 1)); // generate pushes

    // Reset pushes and pulls from prior queries
    .grid__cell--v4-pull-0of@{grid-columns},
    .grid__cell--v4-push-0of@{grid-columns} {
        position: static;
        left: auto;
        right: auto;
    }
}
.v4-push-pull-generate(); // generate pushes and pulls if true (set in variables.less)


// Center Cell
.grid__cell--v4-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

// Uncenter Cell from prior queries
.grid__cell--v4-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0;
}

// Clear Cell
.grid__cell--v4-clear {
    clear: left;
}

// Unclear Cell from prior queries
.grid__cell--v4-unclear {
    clear: left;
}
