// Gutters
.grid-container--page when (@grid-lg-gutter > @grid-md-gutter) {
    padding: 0 (@grid-lg-gutter * 2);
}

.grid--page when (@grid-lg-gutter > @grid-md-gutter) {
    margin: 0 -@grid-lg-gutter;

    > .grid__cell {
        padding: 0 @grid-lg-gutter;
    }
}

// Cells
.lg-cells(@n, @i: 1) when (@i =< @n) {
    .lg--@{i}of@{n} {
        .make-grid-cell(@i);
    }
    .lg-cells(@n, (@i + 1));
}
.lg-cells(@grid-columns); // generate cells
