/* ==========================================================================
   13.0 Navs
   ========================================================================== */

/**
 * <ul class="nav nav--inline nav--right">
 */

.nav {
    padding: 0;
    list-style: none;

    a {
        display: inline-block;
    }

    &--inline {
        > li {
            display: inline-block;
        }
    }

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }

    &--center {
        text-align: center;
    }
}