/* ==========================================================================
   21.0 Pager
   ========================================================================== */

/**
 * <ol class="pager">
 */

.pager {
    margin: @font-margin 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }

    &__prev {

    }

    &__next {

    }
}
