/* ==========================================================================
   |-- Pager
   ========================================================================== */

/**
 * <nav class="pager">
 *   <ol>
 *     <li><a href="#">Previous</a></li>
 *     <li><a href="#">Next</a></li>
 *   </ol>
 * </nav>
 */

.pager {
    margin: @font-margin 0;

    ol {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }
}
