/* ==========================================================================
   20.0 Pagination
   ========================================================================== */

/**
 * <nav class="pagination">
 *   <ol>
 */

.pagination {
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}