/* ==========================================================================
   |-- Pagination
   ========================================================================== */

/**
 * <nav class="pagination">
 *   <ol>
 *     <li><a href="#">First</a></li>
 *     <li><a href="#">Previous</a></li>
 *     <li class="is-current">2</a></li>
 *     <li><a href="#">Next</a></li>
 *     <li><a href="#">Last</a></li>
 *   </ol>
 * </nav>
 */

.pagination {
    margin: @font-margin 0;

    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }

    .is-current {

    }
}
