/* ==========================================================================
   9.0 Tables
   ========================================================================== */

/**
 * <table class="table">
 */

.table {
    width: 100%;

    &__header {}

    &__footer {}

    &__body {}

    &__tr {}

    &__th,
    &__td {
        padding: 0.5em 1em;
    }

    &__th {
        font-weight: @font-weight-bold;
        text-align: left;
    }

    &__td {

    }
}
