/* ==========================================================================
   $TABLES
   ========================================================================== */

.table {
    width: 100%;

    .table__th {
        font-weight: @font-weight-bolder;
        text-align: left;
    }

    .table__th,
    .table__td {
        padding: @table-padding;
    }
}